.idea
pkg
bin
out
src/github.com
*.pyc
*__pycache__
gomssql_python.so
_gomssql_python.so
gomssql_python.py
gomssql_python/py2
gopy
prebuilt
.cache
.pytest_cache
.vscode
main.go
build/
dist/
gomssql_python.egg-info/
.DS_Store
testdb.sqlite
